@using OnlineFileSystem.Models
@model UserRole

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
<div>
    @{
        UserRole ur = (UserRole) ViewBag.Role;
        //UserRole ur = ViewData["Role"];
    }
    Epic details! <br/>
    Emp Id: @Model.UserRoleId<br/>
    Emp Nam: @Model.Role<br/>
    
    @if (Model.UserRoleId > 10)
    {
        <span>Emp good</span>
    }
    else
    {
        <span>Emp bad</span>
    }

</div>
</body>
</html>
