*
{
	/*display:block;*/
	text-align:center;
	margin:auto;
	overflow: auto;
	
}

.none
{
	all: unset;
}

.behaveAsLink
{
	cursor:pointer;
}

#landingPage
{
	width : 100%;
	height: 100%;
	max-width:100%;
	max-height:100%;
	background-image: url("Resources/37818469-cute-panda-pictures.jpg");
	background-repeat: no-repeat;
	vertical-align: middle;
	background-size:cover;
	
	height: -moz-calc(100% - 20px); /* Firefox */
	height: -webkit-calc(100% - 20px); /* Chrome, Safari */
	height: calc(100% - 20px); /* IE9+ and future browsers */
}
/*
nav {
    background-color : yellow;
	height : 50px;
	width : 100%;
}
*/
main {
	
	width : 100%;
    background-color : brown;
	
	
	
	max-width:100%;
    /*max-height:100%;*/
    vertical-align: middle;
	
	height: -moz-calc(100% - 20px); /* Firefox */
	height: -webkit-calc(100% - 20px); /* Chrome, Safari */
	height: calc(100% - 20px); /* IE9+ and future browsers */
	
}


footer {
    background-color : rgba(0, 255, 0, 0.5);
	height : 20px;
	width : 100%;

}

#landingPageTitle
{
	margin-top:10px;
    /*background-color : blue;*/
	font-size:200%;
    /*
	
	height:50px;
	*/
    width:400px;
	
	
}

#landingPageFormSection
{
	background-color : rgba(255, 200, 200, 0.8);
	margin-top:20px;
	
    width:500px;
	padding:10px;
	/*height:350px;*/
	border-radius: 25px;
    border: #73AD21;
}

#landingPageChangeMode
{
    /*background-color : orange;*/
	width:100%;
	height: 40px;
}

#landingPageChangeMode > span
{
	border-radius: 25px;
    border: #73AD21;

	float:left;
	/*display:inline;*/
	background-color : rgba(200, 50, 250, 0.7);
    /*background-color : purple;*/
	width:50%;
	height: 100%;
	display: inline-flex;
	align-items: center;
	
}

.boxSpan
{
	/*background-color:red;*/
	
	text-align: center;
	display: inline-block;
	height: 100%;
	float:center;
	align-items: center;
	vertical-align: middle;
	width:50%;
	
}

#landingPageForm
{
	margin-top:20px;
	/*height: 300px;*/
	font-size:20px;
	
}

#landingPageForm > form > span
{
	float:left;
	/*display:inline;*/
	/*background-color : yellow;*/
	width:50%;
	height: 40px;
	
	
	line-height: 40px;
	/*display: flex;
	align-items: center;*/
}

#landingPageForm > form > span:nth-child(2n-1)
{
	text-align:right;
	margin-left: -5px;
}
#landingPageForm > form > span:nth-child(2n)
{
	text-align:left;
	margin-left: 5px;
	
}
input
{
	width:100%;
	height: 40px;
}

#landingPageChangeLoginFormForgotData
{
	color:darkblue;
	font-size:15px;
}

.landingPageChangeLoginForm:hover
{
	color: darkblue;
	cursor:pointer;
}
.landingPageChangeLoginForm
{
	/*color:blue;*/
}



.tallNavArea
{
	float:left;
	
	
	height: -moz-calc(100% - 45px); /* Firefox */
	height: -webkit-calc(100% - 45px); /* Chrome, Safari */
	height: calc(100% - 45px); /* IE9+ and future browsers */
}

#frontPageTopNav
{
	background-color:yellow;
	width:100%;
	height:40px;
	line-height:40px;
	overflow:hidden;
	
}

#frontPageTopNavLeft > article
{
	background-color:orange;
	
	/*width:50%;*/
}

#frontPageTopNavLeft > article > a
{
	padding-left:10px;
	
	/*width:50%;*/
}

#frontPageTopNavRight > article
{
	float:right;
	background-color:pink;
	/*width:50%;*/
	/*float:left;*/
	padding-left:20px;
	padding-right:10px;
}

#frontPageTopNavLeft
{
	float:left;
	width:60%;
}
#frontPageTopNavLeft > article
{
	padding-left:10px;
	text-align:left;
}

#frontPageTopNavRight
{
	float:right;
	/*float:left;*/
	width:40%;
	
}

#frontPageMainArea
{
	margin-top:5px;
}
#frontPageFolderNav
{
	background-color:red;
	
	width:300px;
}
#frontPageFileNav
{
	background-color:green;
	
	width:700px;
}
#frontPageFileOptions
{
	background-color:purple;
	
	float:left;
	width:300px;
	height:480px;
}
#frontPageFileInfo
{
	background-color:pink;
	
	float:left;
	width:300px;
	height:300px;
}

/* TODO: THIS */

#frontPageFilePreview#showPreviewOn:checked ~ #frontPageFilePreview
{
	background-color:orange;
	
	float:left;
	width:500px;
	height:500px;
	
}
#frontPageFilePreview#showPreviewOff:checked ~ #frontPageFilePreview
{
	display:none;
}

.frontPageSmallImage
{
	width : 40px;
	height: 40px;
	/*background-image: url("Resources/avatar.png");*/
	/*background-repeat: no-repeat;*/
	vertical-align: middle;
	
}

#frontPageLogoImage
{
	width : 120px;
	height: 40px;
	/*background-image: url("Resources/avatar.png");*/
	/*background-repeat: no-repeat;*/
	vertical-align: middle;
}

.folderElement
{
	/*border:solid;*/
	text-align:left;
	/*margin-left:-50px;*/
	padding-left:20px;
	background-color:purple;
	
	line-height:40px;
	
	
	
}

#frontPageFolderNav > .folderElement
{
	
}

.folderElement > span
{

}


.fileElement
{
	/*text-align:left;*/
	background-color:yellow;
	/*line-height:40px;
	padding-left:10px;*/
}





table, td, th {
    border: 1px solid black;
	border-collapse: collapse;
}


#fileListTable
{
	margin:auto;
	width:100%;
	/*border-collapse: collapse;*/
	line-height:40px;
}

/*
#fileListTable > tr > th
{
	background-color:yellow;
	
}
#fileListTable > tr > td
{
}
*/


#fileListTableFileName
{
	/*background-color:yellow;*/
	width:350px;
}

#profilePageMain
{
	width:500px;
	padding-top:10px;
	
	
	height: -moz-calc(100% - 70px); /* Firefox */
	height: -webkit-calc(100% - 70px); /* Chrome, Safari */
	height: calc(100% - 70px); /* IE9+ and future browsers */
}

#profilePageMain > article > form > span
{
	line-height:40px;
	display:block;
	float:left;
	width:50%;
}
#profilePageMain > article > form > span:nth-child(2n-1)
{
	text-align:right;
	margin-left: -5px;
}
/*
.profilePageSubmitButton
{
	width:100% !important;
	padding-left:-10px;
}
*/

#profilePageMain > article > form > input
{
	/*width:200px;
	text-align:right;
	line-height:40px;*/
	/*text-align:right;
	margin:auto;
	overflow: auto;*/
}

.selectedFolder
{
	background-color:red;
}

.selectedFile
{
	background-color:red;
}

.halfWidth
{
	width:49%;
	
}
.quarterWidth
{
	width:24%;
}

select
{
	height:40px;
}